<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.dgit.haru.mappers.BoardMapper">
	<resultMap type="BoardVO" id="ResultBoardVO">
		<id property="bno" column="bno"/>
		<result property="bpic" column="bpic"/>
		<result property="bcontent" column="bcontent"/>
		<result property="bdate" column="bdate"/>
		<result property="bopen" column="bopen"/>
		<result property="bcal" column="bcal"/>
		<result property="btoday" column="btoday"/>
		<association property="dno" resultMap="kr.or.dgit.haru.mappers.DiaryMapper.resultDiary"/>
	</resultMap>	
	<select id="selectAllBoard" resultMap="ResultBoardVO">
		select * from project_haru.view_board where dno = #{dno}
	</select>
	<select id="selectBoardByBno" resultMap="ResultBoardVO">
		select * from project_haru.view_board where bno = #{bno}
	</select>
	<select id="selectBoardByBDate" parameterType="int" resultMap="ResultBoardVO">
		select * from project_haru.view_board where year(bdate) = #{year} and month(bdate) = #{month} and dno=#{dno} order by bdate
	</select>
	<select id="selectBoardByDate" resultMap="ResultBoardVO">
		select * from project_haru.view_board where dno = #{dno} and date(bdate) = #{date};
	</select>
	<select id="selectBoardForAdmin" resultMap="ResultBoardVO">
		select * from project_haru.view_board as b 
		left join project_haru.diary as d 
		on b.dno = d.dno 
		where date(bdate) = #{date};
	</select>
	<select id="selectBoardScrap" resultMap="ResultBoardVO">
		select b.*, d.dtitle, d.uid
		from project_haru.view_board as b 
		left join project_haru.board_scrap as s on b.bno = s.bno 
		left join project_haru.diary as d on b.dno = d.dno 
		where s.uid = #{uid} order by s.stime desc 
	</select>
	<select id="selectBoardScrapByBno" resultMap="ResultBoardVO">
		select b.*
		from project_haru.view_board as b 
		left join project_haru.board_scrap as s on b.bno = s.bno
		where s.uid = #{uid} and s.bno = #{bno} 
	</select>
	<insert id="insertScrap">
		insert into project_haru.board_scrap values(#{uid}, #{bno}, now()) 
	</insert>
	<delete id="deleteScrap">
		delete from project_haru.board_scrap where uid = #{uid} and bno = #{bno} 
	</delete>
	
	<insert id="insertBoard" parameterType="BoardVO">
		<selectKey resultType="int" keyProperty="bno" order="AFTER">
			select last_insert_id()
		</selectKey>		
		insert into project_haru.board(bpic, bcontent, bopen, dno, bdate) 
		values(#{bpic}, #{bcontent}, #{bopen}, #{dno.dno}, #{bdate})
	</insert>
	
	<insert id="insertBoardToday" parameterType="BoardVO">
		insert into project_haru.board_today values(#{bno}, #{btoday})
	</insert>
	
	<update id="updateBoard" parameterType="BoardVO">
		update project_haru.board 
		set bpic = #{bpic}, bcontent = #{bcontent}, bopen = #{bopen}, dno = #{dno.dno}, bcal = #{bcal} 
		where bno = #{bno}
	</update>
	
	<update id="updateBoardToday" parameterType="BoardVO">
		update project_haru.board_today  
		set btoday = #{btoday}  
		where bno = #{bno}
	</update>	
	<delete id="deleteBoard" parameterType="int">
		delete from project_haru.board where bno = #{bno}
	</delete>
	<delete id="deleteBoardToday" parameterType="int">
		delete from project_haru.board_today where bno = #{bno}
	</delete>
	
	<delete id="deleteAllBoard" parameterType="int">
		delete from project_haru.board where dno = #{dno}
	</delete>
	
	<delete id="deleteAllBoardToday" parameterType="int">
		delete from project_haru.board_today where bno=#{bno}
	</delete>
	
</mapper>