<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.dgit.haru.mapper.DiaryMapper">
	<resultMap type="DiaryVO" id="resultDiary">
		<id property="dno" column="dno"/>
		<result property="dtitle" column="dtitle"/>
		<result property="dpic" column="dpic"/>
		<result property="ddate" column="ddate"/>
		<result property="dopen" column="dopen"/>
	</resultMap>
	
	<select id="selectAllDiary" resultType="DiaryVO">
		select d.dno, d.dtitle, d.dpic, d.ddate, d.dopen, max(b.bdate), d.uid
		from project_haru.diary as d 
		left join project_haru.board as b on d.dno = b.dno 
		where d.dopen = true and b.bopen = true 
		group by d.dno 
		order by max(b.bdate) desc;
	</select>
	
	<select id="selectDiaryByDno" resultMap="resultDiary">
		select * from project_haru.diary where dno = #{dno}
	</select>
	
	<select id="selectScrapedDiary" resultType="DiaryVO" >
		select d.* 
		from project_haru.diary as d 
		left join project_haru.diary_scrap as s on d.dno = s.dno 
		where uid = #{uid} 
		order by s.dstime desc
	</select>
	<select id="selectDiaryByUid" resultType="DiaryVO">
		select * from project_haru.diary  
		where uid=#{uid}
	</select>
	<insert id="insertDiary" parameterType="DiaryVO" useGeneratedKeys="true" keyProperty="dno">
		insert into project_haru.diary(dtitle, dpic, dopen, ddate, uid) 
		values (#{dtitle}, #{dpic}, #{dopen}, now(), #{uid})
	</insert>
	<update id="updateDiary" parameterType="DiaryVO">
		update project_haru.diary set dtitle = #{dtitle}, dpic = #{dpic}, dopen = #{dopen} where dno = #{dno} 
	</update>
	<delete id="deleteDiary">
		delete from project_haru.diary where dno = #{dno}
	</delete>

	
</mapper>