<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.dgit.haru.mapper.DiaryMapper">
	<resultMap type="DiaryVO" id="resultDiary">
		<id property="dno" column="dno"/>
		<result property="dtitle" column="dtitle"/>
		<result property="dpic" column="dpic"/>
		<result property="ddate" column="ddate"/>
		<result property="dopen" column="dopen"/>
	</resultMap>
	<select id="selectAllDiary" resultMap="resultDiary">
		select * from project_haru.diary
	</select>
	<select id="selectDiaryByDno" resultMap="resultDiary">
		select * from project_haru.diary where dno = #{dno}
	</select>
</mapper>