<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.dgit.haru.mapper.UserMapper">
	
	<select id="selectBoardLikeUser" resultType="AuthDTO">
		select uid, uadmin, upic, exitdate from project_haru.view_board_like_user where bno = #{bno};
	</select>
	<select id="selectBoardScrapUser" resultType="AuthDTO">
		select u.uid, u.uadmin, u.upic, u.exitdate
		from project_haru.`user` as u
		left join project_haru.board_scrap as s on u.uid = s.uid 
		where s.bno = #{bno} order by s.stime desc
	</select>
	<select id="selectAllUser" resultType="UserVO">
		select * from project_haru.`user`
	</select>
	<select id="login" resultType="AuthDTO">
		select uid, uadmin, upic from project_haru.`user` where uid = #{uid} and upass = #{upass} and uexitdate is null 
	</select>
	<insert id="insertUser" parameterType="UserVO">
		insert into project_haru.`user` values(#{uid}, #{umail},#{upass}, #{upic}, #{uname}, #{ujoin}, false, now(), null)
	</insert>
	<update id="updateUser" parameterType="UserVO">
		update project_haru.`user` set umail = #{umail}, upass = #{upass}, upic = #{upic}, uname = #{uname} where uid = #{uid}
	</update>
	<update id="exitUser">
		update project_haru.`user` set uexitdate = now() where uid = #{uid}
	</update>
	<delete id="deleteUser">
		delete from project_haru.`user` where uid=#{uid}
	</delete>
</mapper>